body{
    background-color: grey;
}

.main{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 442;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;

}